<head>
    <title>Hangry - Food for your mood</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="icon" href="./imgs/logo.png">
</head>
  
  <body>
      <div class="landing">
          <div class="section">
              <h1>Hangry</h1>
          </div>
      </div>

      <div class="interface">
        <form method=post enctype=multipart/form-data>
            <label for="img">Select image:</label>
            <input type=file id="img" name=file accept="image/*">
            <input type=submit value=Upload>
        </form>
      </div>
  </body>